@-webkit-keyframes rotatex {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.wrap {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
  -webkit-perspective-origin: 50% 100px;
  -moz-perspective-origin: 50% 100px;
  -ms-perspective-origin: 50% 100px;
  perspective-origin: 50% 100px;
  position: absolute;
  top: 40%;
  left: 40%;
}
.wrap .cube {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: rotatex 10s infinite linear;
}
.wrap .cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  text-align: center;
  border: solid 1px black;
}
.wrap .cube .top {
  transform-origin: top center;
  transform: translateZ(100px) rotateX(-90deg);
}
.wrap .cube .bottom {
  transform-origin: bottom center;
  transform: translateZ(100px) rotateX(90deg);
}
.wrap .cube .front {
  transform: translateZ(100px);
}
.wrap .cube .back {
  transform: translateZ(100px) translateZ(-200px);
}
.wrap .cube .left {
  transform-origin: left center;
  transform: translateZ(100px) rotateY(90deg);
}
.wrap .cube .right {
  transform-origin: right center;
  transform: translateZ(100px) rotateY(-90deg);
}
